# arquivos a serem ignorados

*.filecache
*.dill
*.flutter-plugins-dependencies
*.cache.dill
*.track.dill
*.vscode
*.bin
*.jar
*.packages
*.flutter-plugins
*.flutter-plugins-dependencies
*.last_build_id
*.txt
*.apk
*.sha1